
MethodsAndClasses/.vs/MethodsAndClasses/v16/.suo
MethodsAndClasses/.vs/MethodsAndClasses/v16/Server/sqlite3/db.lock
MethodsAndClasses/.vs/MethodsAndClasses/v16/Server/sqlite3/storage.ide
MethodsAndClasses/.vs/MethodsAndClasses/v16/Server/sqlite3/storage.ide-shm
MethodsAndClasses/.vs/MethodsAndClasses/v16/Server/sqlite3/storage.ide-wal
MethodsAndClasses/.vs/MethodsAndClasses/v16/TestStore/0/000-0000.testlog
MethodsAndClasses/.vs/MethodsAndClasses/v16/TestStore/0/testlog.manifest
